{{define "title"}}Your Account{{end}} {{define "main"}}
<h2>Your Account</h2>
{{with.User}}
<table>
  <tr>
    <th>Name</th>
    <td>{{.Name}}</td>
  </tr>
  <tr>
    <th>Email</th>
    <td>{{.Email}}</td>
  </tr>
  <tr>
    <th>Joined</th>
    <td>{{humanDate .Created}}</td>
  </tr>
  <tr>
    <th>Password</th>
    <td><a href="/account/password/update">Change password</a></td>
  </tr>
</table>
{{end}} {{end}}
