{{define "title"}}Login{{end}} {{define "main"}}
<form method="POST" id="" action="/user/login" novalidate>
  <!--     Include the CSRF token -->
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  {{range .Form.NonFieldErrors}}
  <div class="error">{{.}}</div>
  {{end}}
  <div>
    <label for="">Email:</label>
    {{with .Form.FieldErrors.email}}
    <label for="" class="error">{{.}}</label>
    {{end}}
    <input type="email" name="email" value="{{.Form.Email}}" />
  </div>
  <div>
    <label for="">Password:</label>
    {{with .Form.FieldErrors.password}}
    <label for="" class="error">{{.}}</label>
    {{end}}
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" name="" value="Login" />
  </div>
</form>
{{end}}
