{{define "title"}}Password{{end}} {{define "main"}}
<h2>Change Password</h2>
<form method="POST" id="" action="/account/password/update" novalidate>
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <div>
    <label for="">Current password:</label>
    {{with .Form.FieldErrors.currentPassword}}
    <label for="" class="error">{{.}}</label>
    {{end}}
    <input type="password" name="currentPassword" value="" />
  </div>
  <div>
    <label for="">New password:</label>
    {{with .Form.FieldErrors.newPassword}}
    <label for="" class="error">{{.}}</label>
    {{end}}
    <input type="password" name="newPassword" value="" />
  </div>
  <div>
    <label for="">Confirm new password:</label>
    {{with .Form.FieldErrors.newPasswordConfirmation}}
    <label for="">{{.}}</label>
    {{end}}
    <input type="password" name="newPasswordConfirmation" value="" />
  </div>
  <div>
    <input type="submit" name="" value="Change password" />
  </div>
</form>
{{end}}
