{{define "title"}}Signup{{end}} {{define "main"}}
<form method="POST" id="" action="/user/signup" novalidate>
  <!--     Include the CSRF token -->
  <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
  <div>
    <label for="">Name:</label>
    {{with .Form.FieldErrors.name}}
    <label class="error" for="">{{.}}</label>
    {{end}}
    <input type="text" name="name" value="{{.Form.Name}}" />
  </div>
  <div>
    <label for="">Email:</label>
    {{with .Form.FieldErrors.email}}
    <label class="error" for="">{{.}}</label>
    {{end}}
    <input type="text" name="email" value="{{.Form.Email}}" />
  </div>
  <div>
    <label for="">Password:</label>
    {{with .Form.FieldErrors.password}}
    <label class="error" for="">{{.}}</label>
    {{end}}
    <input type="password" name="password" />
  </div>
  <div>
    <input type="submit" name="" value="Signup" />
  </div>
</form>
{{end}}
