{{define "nav"}}
<nav>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    {{if .IsAuthenticated}}
    <a href="/snippet/create">Create snippet</a>
    {{end}}
  </div>
  <div>
    {{if .IsAuthenticated}}
    <a href="/account/view">Account</a>
    <form method="POST" id="" action="/user/logout">
      <!--     Include the CSRF token -->
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
      <button>Logout</button>
    </form>
    {{else}}
    <a href="/user/signup">Signup</a>
    <a href="/user/login">Login</a>
    {{end}}
  </div>
</nav>
{{end}}
